@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic-ext");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: none; }

html,
body {
  height: 100%;
  min-width: 370px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", Arial;
  font-size: 12px;
  line-height: 1.5;
  background-color: #F4F4F4; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.container {
  max-width: 1680px;
  margin: 0 auto;
  position: relative; }

.box {
  display: block;
  width: 316px; }

.input {
  height: 40px;
  border: 1px solid #7D7D7D;
  border-radius: 8px;
  width: 100%;
  padding: 0 10px;
  line-height: 36px;
  transition: all .3s ease-in-out; }
  .input:hover {
    border: 1px solid #2B2B2B; }
  .input:focus {
    border: 1px solid #FF3B00; }
    .input:focus .custom-input__add {
      border-right: 1px solid #ff3800; }
  .input--e-coins {
    position: relative;
    padding-right: 72px; }
    .input--e-coins:after {
      content: 'E-coins';
      display: block;
      position: absolute;
      color: #7D7D7D;
      top: 50%;
      font-weight: 500;
      font-size: 14px;
      transform: translate(0, -50%);
      right: 14px; }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: DodgerBlue; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.accent {
  color: #FF3B00; }

.normal {
  font-weight: 400;
  margin-left: 7px; }

.link {
  color: #2B2B2B;
  font-weight: normal;
  text-decoration: none;
  transition: color .3s ease-in-out; }
  .link:hover {
    color: #cc2f00; }

.sublink {
  display: inline-block;
  width: 100%;
  line-height: 46px;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FF3B00;
  transition: color .3s ease-in-out; }
  .sublink:hover {
    color: #cc2f00; }

/* The box */
.box {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 24px;
  font-size: 14px;
  color: #2B2B2B;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #FF3B00; }

/* On mouse-over, add a grey background color */
.box:hover input ~ .checkmark {
  background-color: #fff; }

/* When the checkbox is checked, add a blue background */
.box input:checked ~ .checkmark {
  background-color: #FF3B00; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.box input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.box .checkmark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@media (max-width: 1680px) {
  .wrapper {
    transform: scale(0.9);
    margin-top: -30px; }
    .wrapper.pt {
      padding-top: 64px; }
  .container {
    max-width: 1260px; }
  .input {
    height: 36px;
    line-height: 36px; } }

@media (max-width: 1259px) {
  .container {
    max-width: 980px; } }

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(43, 43, 43, 0.5);
  transition: all .5s ease-in-out; }
  .overlay.active {
    visibility: visible;
    opacity: 1; }

@media (max-width: 1023px) {
  .container {
    padding: 0 15px; } }

@media (max-width: 639px) {
  .container {
    padding: 0 8px; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex; }
  .slick-dots li {
    margin-right: 7px; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li.slick-active button {
      background: #FF3B00; }
    .slick-dots li button {
      text-indent: -100000px;
      background: #fff;
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 50%;
      padding: 0;
      cursor: pointer; }

.topline {
  padding: 27px 0; }
  .topline__logo {
    margin-right: 79px; }
  .topline__container {
    display: flex;
    align-items: center; }
  .topline__right {
    display: flex;
    margin-left: auto;
    align-items: center;
    position: relative;
    top: -2px; }

.mobile-topline {
  display: none; }

.screen {
  height: 506px;
  width: 100%;
  background: url("screen.60860209.jpg") no-repeat;
  background-size: cover;
  padding: 0 49px;
  padding-top: 114px;
  margin-bottom: 44px; }
  .screen__title {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 1.58; }
    .screen__title:after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 3px;
      background: #fff; }
  .screen__subtitle {
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF; }

.logo__img {
  position: relative;
  top: 3px; }

@media (max-width: 1680px) {
  .topline {
    padding: 11px 0; }
  .screen {
    height: 380px;
    padding: 0 36px;
    padding-top: 86px;
    margin-bottom: 16px; }
  .screen__title {
    font-size: 36px; }
  .screen__subtitle {
    font-size: 36px; } }

@media (max-width: 1259px) {
  .screen {
    height: 295px;
    padding: 0 36px;
    padding-top: 73px;
    margin-bottom: 16px; }
  .screen__title {
    font-size: 30px; }
  .screen__subtitle {
    font-size: 30px; } }

@media (max-width: 1023px) {
  .wrapper {
    transform: inherit;
    margin-top: 0; }
  .mobile-topline {
    display: block;
    height: 64px;
    background: transparent;
    transition: all .3s ease-in-out; }
    .mobile-topline .logo__img {
      height: 40px; }
    .mobile-topline__container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center; }
  .mobile-circle {
    width: 20px;
    height: 20px;
    font-size: 10px;
    border: 1px solid #2B2B2B;
    color: #2B2B2B;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px; }
  .mobile-menu__close {
    position: absolute;
    top: 7px;
    right: 10px; }
  .mobile-menu__dropdown {
    padding: 28px 24px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 228px;
    background: #FFFFFF;
    right: -100%;
    z-index: 100;
    top: 5px;
    /* Основная тень блоков */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 8px 8px;
    transition: all .3s ease-in-out; }
    .mobile-menu__dropdown--active {
      visibility: visible;
      opacity: 1;
      right: 0; }
  .mobile-menu__drop {
    padding-left: 24px;
    height: 0;
    overflow: hidden; }
    .mobile-menu__drop .mobile-menu__link {
      font-size: 14px; }
    .mobile-menu__drop--active {
      height: inherit;
      padding-top: 16px; }
  .mobile-menu__nav {
    margin-bottom: 24px; }
    .mobile-menu__nav:before {
      content: '';
      display: block;
      border-radius: 8px 8px 0 0;
      width: 100%;
      top: -4px;
      left: 0;
      height: 4px;
      position: absolute;
      background: #FF3B00; }
  .mobile-menu__list + .mobile-menu__list {
    margin-top: 16px; }
  .mobile-menu__list--dropdown > .mobile-menu__link:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url("dropblack.0a4a660e.svg") no-repeat;
    margin-left: 8px; }
  .mobile-menu__list--dropdown > .mobile-menu__sublink:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url("dropblack.0a4a660e.svg") no-repeat;
    margin-left: 8px; }
  .mobile-menu__link {
    font-size: 16px;
    text-decoration: none;
    color: #2B2B2B;
    display: inline-flex;
    align-items: center; }
    .mobile-menu__link svg {
      margin-left: 8px; }
    .mobile-menu__link span {
      color: #7D7D7D;
      margin-left: 5px; }
  .mobile-menu__subnav {
    padding-top: 25px;
    border-top: 1px solid #E2E2E2; }
  .mobile-menu__sublist + .mobile-menu__sublist {
    margin-top: 16px; }
  .mobile-menu__sublink {
    font-size: 16px;
    color: #2B2B2B;
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .mobile-menu__sublink img {
      width: 20px;
      height: 20px;
      margin-right: 8px; }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    z-index: 10; }
    .sticky .mobile-menu__dropdown {
      z-index: 100; }
    .sticky .mobile-menu__nav {
      position: relative;
      z-index: 100; }
  .topline {
    display: none; }
  .screen {
    height: 182px;
    padding: 0 16px;
    padding-top: 36px;
    margin-bottom: 16px; }
  .screen__title {
    font-size: 24px; }
  .screen__subtitle {
    font-size: 24px; } }

@media (max-width: 639px) {
  .screen {
    width: 100%;
    height: 126px;
    padding-top: 32px;
    padding-left: 20px;
    margin-bottom: 16px; }
    .screen__title {
      font-size: 14px; }
    .screen__subtitle {
      font-size: 14px; } }

.footer__item {
  width: 336px;
  padding-top: 5px; }

.footer__main {
  padding: 29px 36px;
  background: #2B2B2B url("lineage-2-art.0ddd9cd3.png") no-repeat left bottom;
  border-radius: 8px 8px 0px 0px; }

.footer__left {
  margin-right: 100px; }

.footer__right {
  margin-left: auto;
  width: 285px; }

.footer__second {
  display: flex;
  width: 100%; }

.footer__content {
  display: flex;
  margin-bottom: 20px; }

.footer__title {
  display: inline-block;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  margin-bottom: 41px;
  color: #FFFFFF; }

.footer__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 235px; }

.footer__li {
  margin-bottom: 28px;
  line-height: 1;
  margin-right: 51px;
  white-space: nowrap; }

.footer__link {
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color .3s ease-in-out; }
  .footer__link:hover {
    color: #7d7d7d; }

.footer__social--discord {
  position: relative;
  top: 5px; }

.footer__social + .footer__social {
  margin-left: 28px; }

.footer__social svg path {
  transition: all .3s ease-in-out; }

.footer__social:hover svg path {
  fill: #7d7d7d; }

.footer__copy {
  display: inline-block;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  width: 100%; }

.footer__bottom {
  background: #E2E2E2;
  border-radius: 0px 0px 8px 8px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 1680px) {
  .footer__bottom {
    height: 64px; }
    .footer__bottom img {
      padding: 0 25px;
      width: 100%; }
  .footer__content {
    margin-bottom: 22px; }
  .footer__logo img {
    width: 180px;
    height: 58px; }
  .footer__title {
    font-size: 20px;
    margin-bottom: 30px; }
  .footer__link {
    font-size: 16px; }
  .footer__links {
    height: 172px; }
  .footer__li {
    margin-right: 30px;
    margin-bottom: 20px; }
  .footer__right {
    margin-left: auto;
    width: initial;
    padding-right: 7px; }
  .footer__social svg {
    width: 32px;
    height: 32px; }
  .footer__social + .footer__social {
    margin-left: 17px; }
  .footer__social--discord svg {
    width: 36px;
    height: 36px;
    position: relative;
    top: -2px; }
  .footer__left {
    margin-right: 75px; }
  .footer__main {
    padding: 28px 36px;
    padding-bottom: 22px; }
  .footer__item {
    width: 264px;
    padding-top: 0px; }
  .footer__copy {
    font-size: 16px; } }

@media (max-width: 1259px) {
  .footer__bottom {
    height: 64px; }
    .footer__bottom img {
      padding: 0 25px;
      width: 100%; }
  .footer__content {
    margin-bottom: 22px; }
  .footer__logo img {
    width: 180px;
    height: 58px; }
  .footer__title {
    font-size: 18px;
    margin-bottom: 22px; }
  .footer__link {
    font-size: 12px; }
  .footer__links {
    height: 125px; }
  .footer__li {
    margin-right: 30px;
    margin-bottom: 16px; }
  .footer__right {
    margin-left: auto;
    width: initial;
    padding-right: 7px; }
  .footer__social svg {
    width: 24px;
    height: 24px; }
  .footer__social + .footer__social {
    margin-left: 17px; }
  .footer__social--discord svg {
    width: 26px;
    height: 26px;
    position: relative;
    top: -2px; }
  .footer__left {
    margin-right: 45px; }
  .footer__main {
    padding: 28px 36px;
    padding-bottom: 22px; }
  .footer__item {
    width: 180px;
    padding-top: 0px; }
  .footer__copy {
    font-size: 12px; } }

@media (max-width: 1023px) {
  .footer__links {
    height: auto; }
  .footer__bottom {
    display: none; } }

@media (max-width: 770px) {
  .footer__main {
    background: #2B2B2B; }
  .footer__left {
    margin-bottom: 12px; }
  .footer__content {
    flex-direction: column; }
  .footer__second {
    flex-wrap: wrap; } }

@media (max-width: 612px) {
  .footer__item {
    width: 145px; }
  .footer__right {
    width: 100%;
    margin-top: 32px;
    margin-left: inherit; } }

@media (max-width: 400px) {
  .footer__item {
    width: 110px; } }

.button {
  display: inline-block;
  background-color: #FF3B00;
  text-decoration: none;
  color: #fff;
  height: 40px;
  padding: 0 33px;
  line-height: 40px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 24px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all .3s ease-in-out; }
  .button:hover {
    box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.25); }
  .button:active {
    background-color: #e63500; }
  .button.facebook {
    background: #3B5998;
    border-radius: 8px;
    position: relative;
    padding: 0 30px;
    padding-left: 50px;
    height: 40px;
    line-height: 40px;
    width: 152px; }
    .button.facebook:before {
      position: absolute;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      background: url("facebook.d3e0977d.svg");
      background-repeat: no-repeat;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%); }
  .button.google {
    background: #F4F4F4;
    border-radius: 8px;
    position: relative;
    padding: 0 30px;
    padding-left: 50px;
    height: 40px;
    line-height: 40px;
    color: #2B2B2B;
    width: 152px; }
    .button.google:before {
      position: absolute;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      background: url("search.a63d30ed.svg");
      background-repeat: no-repeat;
      left: 18px;
      top: 50%;
      transform: translate(0, -50%); }
  .button:disabled, .button[disabled] {
    background-color: #7D7D7D; }
    .button:disabled:hover, .button[disabled]:hover {
      box-shadow: none; }
  .button.full-width {
    width: 100%; }
  .button.second {
    background-color: #2B2B2B; }
    .button.second:active {
      background-color: #1e1e1e; }

@media (max-width: 1680px) {
  .button {
    height: 34px;
    padding: 0 22px;
    line-height: 34px;
    font-size: 14px; } }

@media (max-width: 623px) {
  .button {
    height: 32px;
    line-height: 32px;
    font-size: 13px; } }

.icon {
  display: inline-block; }
  .icon_download {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url("download.106971ff.svg");
    margin-left: 5px; }
  .icon_next {
    vertical-align: middle;
    height: 13px;
    width: 8px;
    background: url("next.b4f43693.svg");
    background-repeat: no-repeat;
    margin-left: 5px; }

.input-box {
  margin-bottom: 20px; }
  .input-box__title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #7D7D7D; }
  .input-box__input {
    margin-bottom: 5px; }
  .input-box__info {
    font-weight: 300;
    line-height: 18px;
    font-size: 12px;
    letter-spacing: 0.05em; }
    .input-box__info--accent {
      color: #FF3B00;
      font-weight: normal; }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  color: #000; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: #fff;
  transition: all .3s ease-in-out; }
  .select-selected.select-arrow-active {
    border: 1px solid #FF3B00; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(0, -50%);
  right: 16px;
  width: 14px;
  height: 9px;
  background: url("dropdown.b55a384d.svg") no-repeat;
  background-size: contain; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: translate(0, 0) rotate(180deg); }

/*style the items (options), including the selected item:*/
.select-items div {
  height: 36px;
  color: #000;
  width: 100%;
  padding: 0 10px;
  line-height: 36px; }

.select-selected {
  height: 36px;
  border: 1px solid #7D7D7D;
  border-radius: 8px;
  width: 100%;
  padding: 0 10px;
  line-height: 36px;
  color: #000; }
  .select-selected:hover {
    border: 1px solid #2B2B2B; }
  .select-selected:focus {
    border: 1px solid #FF3B00; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #7D7D7D;
  border-radius: 8px; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

@media (max-width: 1680px) {
  .input-box {
    margin-bottom: 19px; }
    .input-box__title {
      font-size: 14px; }
    .input-box__info {
      display: inline-block;
      margin-top: 5px; }
    .input-box__input {
      margin-bottom: 0; } }

.menu__ul {
  display: flex;
  align-items: center;
  position: relative;
  top: 1px; }

.menu__list {
  list-style: none;
  position: relative; }
  .menu__list + .menu__list {
    margin-left: 53px; }
  .menu__list:hover .menu__link {
    color: #FF3B00; }
    .menu__list:hover .menu__link:after {
      background: url("dropdownHover.0de0ffff.svg") no-repeat; }
  .menu__list--dropdown .menu__link:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url("dropdown.b55a384d.svg") no-repeat;
    margin-left: 13px;
    position: relative;
    top: 2px; }
  .menu__list:hover .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 55px; }

.menu__link {
  font-size: 20px;
  color: #7D7D7D;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: color .3s ease-in-out; }
  .menu__link:hover {
    color: #FF3B00; }
  .menu__link svg {
    margin-left: 14px; }

.dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #FFFFFF;
  /* border-top: solid 4px #FF3B00; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 8px 8px;
  padding: 13px 12px;
  min-width: 116px;
  padding-bottom: 6px;
  z-index: 9;
  top: 50px;
  transition: all .3s ease-in-out; }
  .dropdown:before {
    content: '';
    display: block;
    border-radius: 8px 8px 0 0;
    width: 100%;
    top: -4px;
    left: 0;
    height: 4px;
    position: absolute;
    background: #FF3B00; }
  .dropdown__list {
    margin-bottom: 11px; }
    .dropdown__list:last-child {
      margin-bottom: 0; }
      .dropdown__list:last-child .dropdown__link {
        border-bottom: none; }
  .dropdown__link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
    color: #2B2B2B;
    padding-bottom: 8px;
    width: 100%;
    line-height: 1;
    border-bottom: 1px solid #E2E2E2;
    transition: color .2s ease-in-out; }
    .dropdown__link:hover {
      color: #FF3B00; }

@media (max-width: 1680px) {
  .menu__list + .menu__list {
    margin-left: 39px; }
  .menu__link svg {
    margin-left: 10px;
    width: 16px;
    height: 16px; }
  .menu__link {
    font-size: 16px; }
  .dropdown {
    top: 40px; }
  .menu__list:hover .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 45px; } }

.user {
  position: relative; }
  .user__login {
    display: block;
    width: 38px;
    height: 38px;
    position: relative; }
    .user__login:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      display: block;
      width: 38px;
      height: 38px;
      opacity: 1;
      background: url("user.11c6f16f.png");
      transition: opacity .3s ease-in-out; }
    .user__login:after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      display: block;
      width: 38px;
      height: 38px;
      opacity: 0;
      background: url("user2.2ccb0721.png");
      transition: opacity .3s ease-in-out; }
    .user__login--active:before, .user__login:hover:before {
      opacity: 0; }
    .user__login--active:after, .user__login:hover:after {
      opacity: 1; }
  .user__auth {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    width: 356px;
    top: 45px;
    right: -19px;
    transition: all .3s ease-in-out;
    z-index: 100; }
    .user__auth.active {
      visibility: visible;
      opacity: 1;
      top: 48px;
      right: -19px; }
  .user__button {
    margin-bottom: 0; }
  .user__tabs {
    display: flex;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    background: #E2E2E2; }
  .user__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 50%;
    height: 36px;
    color: #2B2B2B;
    cursor: pointer;
    border-radius: 8px 8px 0px 0px; }
    .user__tab.active {
      background: #FFFFFF; }
  .user__content {
    padding: 12px 20px;
    visibility: hidden;
    display: none; }
    .user__content.active {
      visibility: visible;
      display: block; }
  .user__else {
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
    color: #7D7D7D;
    position: relative;
    margin-bottom: 20px; }
    .user__else::before {
      content: '';
      display: block;
      position: absolute;
      width: 90px;
      height: 1px;
      top: 7px;
      background: #7D7D7D; }
    .user__else::after {
      content: '';
      display: block;
      position: absolute;
      width: 90px;
      height: 1px;
      top: 7px;
      right: 0;
      background: #7D7D7D; }
  .user__buttons {
    display: flex; }
    .user__buttons .button + .button {
      margin-left: 12px; }

.lang-box {
  display: flex;
  align-items: center;
  width: 64px;
  height: 36px;
  position: relative;
  justify-content: flex-end;
  margin-left: 43px;
  cursor: pointer;
  z-index: 9; }
  .lang-box:before {
    content: '';
    display: block;
    opacity: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    height: 30px;
    top: -5px;
    left: -5px;
    width: 75px;
    position: absolute;
    transition: all .3s ease-in-out; }
  .lang-box:hover:before {
    opacity: 1;
    height: 87px; }
  .lang-box:hover .lang {
    height: 77px; }
  .lang-box svg {
    margin-left: 16px;
    position: relative;
    z-index: 1; }

.lang {
  width: 36px;
  position: absolute;
  height: 77px;
  height: 36px;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: all .3s ease-in-out; }
  .lang__input {
    display: none; }
    .lang__input:checked > .lang__label {
      background: #FF3B00;
      color: #fff; }
  .lang__label {
    height: 36px;
    width: 36px;
    cursor: pointer;
    position: relative;
    border: 2px solid #FF3B00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF3B00;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    text-indent: 2px;
    transition: all .3s ease-in-out; }
    .lang__label:hover {
      background: #FF3B00;
      color: #fff; }

.tabs {
  display: flex;
  justify-content: space-between; }

.tab {
  width: 100%;
  height: 785px;
  margin-bottom: 48px; }
  .tab__column {
    width: 50%; }
  .tab__header {
    height: 108px;
    width: 100%;
    cursor: pointer;
    position: relative; }
    .tab__header--second {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      line-height: 24px;
      font-size: 24px;
      letter-spacing: 0.05em;
      height: 76px; }
      .tab__header--second svg {
        margin-left: 12px; }
    .tab__header + .tab__header {
      border-left: 2px solid #E2E2E2; }
    .tab__header.active + .tab__header {
      border-left: 0 solid #E2E2E2; }
    .tab__header.active {
      background: #FFFFFF;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
      border-radius: 8px 8px 0px 0px;
      position: relative; }
      .tab__header.active:after {
        content: '';
        display: block;
        background: #FFFFFF;
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: -10px;
        z-index: 2; }
  .tab__content {
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    padding: 13px 25px;
    padding-top: 13px;
    display: none;
    height: 675px;
    background: #fff; }
    .tab__content--ca {
      justify-content: center;
      background-color: #FFFFFF;
      background-image: url("caleft.78a47b0f.png"), url("caright.1568c72c.png");
      background-position: left bottom, right bottom;
      background-repeat: no-repeat, no-repeat; }
    .tab__content.active {
      display: flex; }
    .tab__content .big-number {
      font-size: 30px;
      letter-spacing: 0px;
      position: relative;
      left: -1px; }

@media (max-width: 1680px) {
  .tab__column + .tab__column {
    padding-left: 36px; }
  .tab__header--second {
    font-size: 20px;
    white-space: nowrap; }
    .tab__header--second svg {
      width: 20px;
      height: 20px; }
  .tab__content--ca {
    background-size: 31%, 52%; } }

@media (max-width: 1023px) {
  .tabs {
    flex-direction: column; }
  .tab {
    min-height: 100px;
    height: auto;
    margin-bottom: 0; }
  .tab__content {
    position: relative;
    padding: 24px 25px;
    height: 0;
    margin-top: -20px; }
    .tab__content--ca {
      background-size: 31%, 52%; }
    .tab__content.active {
      margin-bottom: 25px;
      height: auto; }
  .tab__column + .tab__column {
    padding-left: 0px; }
  .tab__column {
    padding-right: 0; }
  .tab__header {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative; }
    .tab__header:before {
      display: block;
      position: absolute;
      content: '';
      background: url("tabDrop.57b3b41d.svg") no-repeat;
      width: 38px;
      height: 28px;
      top: 50%;
      transform: translate(0, -50%) rotate(180deg);
      right: 20px; }
    .tab__header.active:before {
      transform: translate(0, -50%) rotate(0); }
    .tab__header--second {
      font-size: 16px;
      white-space: nowrap; }
      .tab__header--second svg {
        width: 20px;
        height: 20px; }
  .tab__content {
    flex-direction: column; }
  .tab__column {
    width: 100%; } }

@media (max-width: 623px) {
  .tab__header--second {
    font-size: 13px;
    flex-wrap: wrap; } }

.s-info {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 5; }
  .s-info__img {
    width: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    padding-top: 10px;
    padding-left: 56px; }
    .s-info__img:before {
      content: '';
      display: block;
      width: 100%;
      height: 40px;
      background: #E2E2E2;
      position: absolute;
      top: 47px;
      left: 0;
      border-radius: 0px 30px 30px 0px;
      z-index: 0; }
    .s-info__img img {
      position: relative;
      z-index: 1; }
  .s-info__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .s-info__title {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #2B2B2B;
    margin-bottom: 7px; }
  .s-info__subtitle {
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #7D7D7D;
    margin-bottom: 8px; }
  .s-info__desc {
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #FF3B00; }

@media (max-width: 1680px) {
  .s-info__subtitle {
    font-size: 12px; }
  .s-info__title {
    font-size: 20px; }
  .s-info__desc {
    font-size: 14px; }
  .s-info__img {
    padding-right: 59px; } }

@media (max-width: 1259px) {
  .s-info__img {
    width: 124px; }
  .s-info__title {
    font-size: 18px; }
  .s-info__desc {
    font-size: 12px; }
  .s-info__img {
    padding-right: 30px;
    padding-left: 30px; }
  .s-info__subtitle {
    font-size: 10px; } }

@media (max-width: 623px) {
  .s-info__img {
    margin-right: 15px; } }

.s-content__title {
  font-weight: 500;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #2B2B2B;
  margin-bottom: 18px;
  display: inline-block;
  padding-left: 6px; }

.s-content__timer {
  height: 216px;
  width: 100%;
  background: #E2E2E2 url("timerbg.d907396b.png") no-repeat left center;
  border-radius: 8px;
  margin-bottom: 27px;
  position: relative; }

.s-content__timer-title {
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100%;
  position: absolute;
  top: 30px;
  color: #FF3B00;
  text-transform: uppercase; }

.s-content__info {
  font-size: 20px;
  color: #2B2B2B;
  margin-bottom: 14px; }
  .s-content__info--last {
    margin-bottom: 21px; }
  .s-content__info b {
    font-weight: bold; }

.s-content__special {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  color: #FF3B00;
  margin-top: 22px; }
  .s-content__special .big-number {
    margin: 0 6px;
    top: -2px; }
  .s-content__special .button {
    margin-left: 37px;
    margin-bottom: 0; }

@media (max-width: 1680px) {
  .s-content__title {
    font-size: 20px;
    padding-left: 0px; }
    .s-content__title .big-number {
      font-size: 25px; }
  .s-content__timer {
    height: 163px;
    margin-bottom: 15px; }
  .s-content__timer-title {
    font-size: 16px;
    top: 21px;
    letter-spacing: 0.05em; }
  .s-content__info {
    font-size: 16px;
    margin-bottom: 11px; }
  .s-content__info--last {
    margin-bottom: 16px; }
  .s-content__special {
    font-size: 16px;
    margin-top: 3px; }
    .s-content__special .big-number {
      font-size: 25px; } }

@media (max-width: 1259px) {
  .s-content__title {
    font-size: 18px;
    padding-left: 0px; }
    .s-content__title .big-number {
      font-size: 23px; }
  .s-content__timer {
    height: 124px;
    margin-bottom: 15px; }
  .s-content__timer-title {
    font-size: 14px;
    top: 11px;
    letter-spacing: 0.05em; }
  .s-content__info {
    font-size: 14px;
    margin-bottom: 11px; }
  .s-content__info--last {
    margin-bottom: 16px; }
  .s-content__special {
    font-size: 16px;
    margin-top: 3px;
    white-space: nowrap; }
    .s-content__special .big-number {
      font-size: 25px; }
    .s-content__special .button {
      margin-left: 5px; } }

@media (max-width: 639px) {
  .s-content__special {
    font-size: 12px;
    white-space: inherit;
    margin-bottom: 40px;
    position: relative; }
    .s-content__special .button {
      position: absolute;
      bottom: -38px; }
  .s-content__timer {
    height: 91px;
    width: 100%; } }

.s-slider {
  height: 100%;
  padding: 18px 0;
  padding-left: 29px;
  width: 100%; }
  .s-slider__wrapper {
    height: 100%; }
  .s-slider__slide {
    height: 100%; }
  .s-slider__box {
    background-repeat: no-repeat;
    height: 616px;
    width: 100%;
    padding-top: 38px;
    border-radius: 8px;
    background-size: cover; }
  .s-slider__tooltip {
    height: 52px;
    background: #FF3B00;
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px 30px 30px 0px;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    line-height: 52px;
    padding: 0 36px;
    color: #FFFFFF;
    margin-bottom: 12px; }
  .s-slider__info {
    font-size: 28px;
    color: #FFFFFF;
    padding: 0 37px;
    line-height: 34px; }
    .s-slider__info b {
      font-weight: bold; }

@media (max-width: 1680px) {
  .s-slider__box {
    height: 452px; }
  .s-slider__info {
    font-size: 20px;
    line-height: 24px; }
  .s-slider__tooltip {
    margin-bottom: 16px; } }

@media (max-width: 1259px) {
  .s-slider {
    padding: 0 0;
    padding-top: 23px;
    padding-left: 0; } }

.custom-input {
  position: relative; }
  .custom-input__input[type=text] {
    padding-left: 98px; }
  .custom-input__add {
    display: inline-block;
    position: absolute;
    left: 0px;
    color: #1f1f1f;
    width: 82px;
    font-size: 15px;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 13px;
    line-height: 40px;
    border-right: 1px solid #7D7D7D;
    transition: all .3s ease-in-out; }
    .custom-input__add--focused {
      border-right: 1px solid #FF3B00; }
    .custom-input__add:after {
      content: '';
      display: block;
      background: url("recycle.e3242b1a.svg") no-repeat;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 55px;
      top: 50%;
      transform: translate(0, -50%); }
  .custom-input__password[type="password"] {
    padding-right: 50px; }
  .custom-input__eye {
    background: transparent;
    border: none;
    position: absolute;
    right: 13px;
    top: 14px;
    cursor: pointer;
    opacity: 0.7;
    transition: all .3s ease-in-out; }
    .custom-input__eye:hover {
      opacity: 1; }

@media (max-width: 1680px) {
  .custom-input__add {
    line-height: 36px; }
  .custom-input__eye {
    top: 11px; }
    .custom-input__eye img {
      height: 12px;
      width: 20px; } }

.ca-content {
  padding-top: 45px; }
  .ca-content__main {
    display: flex; }
  .ca-content__title {
    line-height: 46px;
    font-size: 40px;
    letter-spacing: 0.05em;
    margin-bottom: 43px;
    color: #2B2B2B;
    text-align: center; }
  .ca-content__left {
    width: 364px; }
  .ca-content__right {
    width: 316px;
    padding-top: 22px; }
    .ca-content__right .button {
      margin-bottom: 36px; }
  .ca-content__privacy {
    font-weight: 300;
    line-height: 14px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
    color: #7D7D7D; }
  .ca-content__form {
    margin-bottom: 17px; }
  .ca-content__submit {
    margin-bottom: 0; }
  .ca-content__master {
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2B2B2B; }
  .ca-content__link {
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    transition: color .3s ease-in-out;
    color: #FF3B00;
    text-decoration: none;
    margin-left: 20px; }
    .ca-content__link:hover {
      color: #cc2f00; }
  .ca-content__divider {
    font-style: normal;
    font-weight: normal;
    line-height: 46px;
    font-size: 14px;
    letter-spacing: 0.05em;
    height: 190px;
    color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 28px;
    margin-top: 22px; }
    .ca-content__divider:before {
      top: 0;
      content: '';
      display: block;
      height: 76px;
      width: 1px;
      background: #7D7D7D;
      position: absolute; }
    .ca-content__divider:after {
      bottom: 0;
      content: '';
      display: block;
      height: 76px;
      width: 1px;
      background: #7D7D7D;
      position: absolute; }

@media (max-width: 1680px) {
  .ca-content {
    padding-top: 9px; }
    .ca-content__title {
      margin-bottom: 28px;
      letter-spacing: -0.3px; }
    .ca-content__left {
      width: 315px; }
    .ca-content__master {
      font-size: 14px; }
    .ca-content__link {
      font-size: 14px; }
    .ca-content__privacy {
      font-size: 12px;
      margin-bottom: 20px; }
    .ca-content__divider {
      margin: 0 53px; }
    .ca-content__submit {
      margin-bottom: -7px; } }

@media (max-width: 1259px) {
  .ca-content {
    padding-top: 9px; }
    .ca-content__title {
      font-size: 24px;
      margin-bottom: 28px;
      letter-spacing: -0.3px; }
    .ca-content__left {
      width: 315px; }
    .ca-content__master {
      font-size: 14px; }
    .ca-content__link {
      font-size: 14px; }
    .ca-content__privacy {
      font-size: 12px;
      margin-bottom: 20px; }
    .ca-content__divider {
      margin: 0 53px; }
    .ca-content__submit {
      margin-bottom: -7px; } }

@media (max-width: 1023px) {
  .ca-content__main {
    flex-direction: column;
    align-items: center; }
  .ca-content__divider {
    margin: 0 auto;
    height: 36px;
    margin-top: 15px;
    position: relative;
    width: 28px; }
    .ca-content__divider::before {
      top: inherit;
      left: 35px;
      content: '';
      display: block;
      height: 1px;
      width: 76px;
      background: #7D7D7D;
      position: absolute; }
    .ca-content__divider::after {
      bottom: inherit;
      right: 35px;
      content: '';
      display: block;
      height: 1px;
      width: 76px;
      background: #7D7D7D;
      position: absolute; } }

.screen-2 {
  background: url("screen2.c4c333df.jpg");
  height: 333px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 8px;
  justify-content: center;
  padding-left: 70px;
  margin-bottom: 48px; }
  .screen-2__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    /* Основной 2 */
    text-shadow: 0px 0px 35px #C92600; }
  .screen-2__subtitle {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    color: #FFFFFF; }
  .screen-2__big {
    font-size: 48px;
    color: #FF3B00; }

@media (max-width: 1680px) {
  .screen-2 {
    height: 251px;
    padding-left: 54px; }
    .screen-2__title {
      font-size: 36px; }
    .screen-2__subtitle {
      font-size: 30px; }
    .screen-2__big {
      font-size: 36px; } }

@media (max-width: 1259px) {
  .screen-2 {
    height: 194px;
    padding-left: 52px; }
    .screen-2__title {
      font-size: 32px; }
    .screen-2__subtitle {
      font-size: 30px; }
    .screen-2__big {
      font-size: 36px; } }

@media (max-width: 1023px) {
  .screen-2__title {
    font-size: 24px; }
  .screen-2__subtitle {
    font-size: 20px; }
  .screen-2__big {
    font-size: 24px; } }

@media (max-width: 639px) {
  .screen-2 {
    padding-left: 16px; }
    .screen-2__title {
      font-size: 16px; }
    .screen-2__subtitle {
      font-size: 16px; }
    .screen-2__big {
      font-size: 20px; } }

#countdown {
  width: 514px;
  height: 112px;
  text-align: center;
  margin: auto;
  padding: 24px 0;
  position: absolute;
  top: -9px;
  bottom: 0;
  left: 24px;
  right: 0; }

#countdown #tiles {
  position: relative;
  z-index: 1; }

#countdown #tiles > span {
  display: inline-block;
  width: 84px;
  height: 88px;
  font-size: 40px;
  line-height: 88px;
  font-weight: bold;
  text-align: center;
  color: #2B2B2B;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(43, 43, 43, 0.1);
  border-radius: 8px;
  margin: 0 20px;
  position: relative; }

#countdown #tiles > span:before {
  content: ":";
  display: block;
  position: absolute;
  left: -24px; }

#countdown #tiles > span:first-child:before {
  content: ":";
  display: none;
  position: absolute;
  left: -24px; }

#countdown .labels {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 8px;
  padding: 0 9px;
  display: flex;
  bottom: -38px;
  z-index: 1; }

#countdown .labels li {
  font-size: 14px;
  text-align: center;
  color: #2B2B2B;
  text-align: center;
  display: inline-block;
  width: 84px;
  margin: 0 20px; }

.labels li + li {
  margin-left: 50px; }

@media (max-width: 1680px) {
  #countdown {
    width: 555px;
    height: 100px; }
  #countdown #tiles {
    position: relative;
    z-index: 1; }
  #countdown #tiles > span {
    width: 64px;
    height: 68px;
    font-size: 36px;
    line-height: 64px; }
  #countdown #tiles > span:before {
    content: ":";
    display: block;
    position: absolute;
    left: -24px; }
  #countdown #tiles > span:first-child:before {
    content: ":";
    display: none;
    position: absolute;
    left: -24px; }
  #countdown .labels {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 8px;
    justify-content: center;
    padding: 0 9px;
    display: flex;
    bottom: -38px;
    z-index: 1; }
  #countdown .labels li {
    font-size: 12px;
    text-align: center;
    color: #2B2B2B;
    text-align: center;
    display: inline-block;
    width: 101px;
    margin: 0 0px; }
  .labels li + li {
    margin-left: 50px; } }

@media (max-width: 1259px) {
  #countdown {
    width: 390px;
    height: 100px; }
  #countdown #tiles {
    position: relative;
    z-index: 1; }
  #countdown #tiles > span {
    width: 50px;
    height: 53px;
    font-size: 32px;
    line-height: 53px; }
  #countdown #tiles > span:before {
    content: ":";
    display: block;
    position: absolute;
    left: -24px; }
  #countdown #tiles > span:first-child:before {
    content: ":";
    display: none;
    position: absolute;
    left: -24px; }
  #countdown .labels {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 8px;
    justify-content: center;
    padding: 0 9px;
    display: flex;
    bottom: -16px;
    z-index: 1; }
  #countdown .labels li {
    font-size: 12px;
    text-align: center;
    color: #2B2B2B;
    text-align: center;
    display: inline-block;
    width: 101px;
    margin: 0 0px; }
  .labels li + li {
    margin-left: 25px; } }

@media (max-width: 623px) {
  #countdown {
    width: 100%;
    height: 90px;
    padding: 38px 0;
    position: absolute;
    top: -9px;
    left: 0;
    bottom: 0;
    right: 0; }
  #countdown #tiles {
    position: relative;
    z-index: 1; }
  #countdown #tiles > span {
    width: 33px;
    height: 33px;
    font-size: 18px;
    line-height: 33px; }
  #countdown #tiles > span:before {
    content: ":";
    display: block;
    position: absolute;
    left: -24px; }
  #countdown #tiles > span:first-child:before {
    content: ":";
    display: none;
    position: absolute;
    left: -10px; }
  #countdown .labels {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 8px;
    justify-content: center;
    padding: 0 9px;
    display: flex;
    bottom: -8px;
    z-index: 1; }
  #countdown .labels li {
    font-size: 12px;
    text-align: center;
    color: #2B2B2B;
    text-align: center;
    display: inline-block;
    width: 74px;
    margin: 0 0px; }
  .labels li + li {
    margin-left: 20px; } }

.tabs-dwn {
  background: #fff url("dual.2b2d0f80.png") 35% bottom no-repeat; }

.dwn-content {
  width: 100%;
  padding-top: 41px; }
  .dwn-content .accent {
    color: #FF3B00; }
  .dwn-content__subtitle {
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    margin-bottom: 19px;
    color: #2B2B2B; }
  .dwn-content__title {
    line-height: 46px;
    font-size: 40px;
    letter-spacing: 0.05em;
    color: #2B2B2B;
    text-align: center;
    margin-bottom: 55px; }
    .dwn-content__title--second {
      margin-bottom: 18px; }
  .dwn-content__service {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #7D7D7D;
    text-decoration: none;
    margin-top: 32px; }
    .dwn-content__service i {
      color: #2B2B2B; }
    .dwn-content__service:hover i {
      color: #121212; }
  .dwn-content__desc {
    font-size: 20px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF3B00;
    text-align: center;
    margin-bottom: 49px; }
    .dwn-content__desc svg {
      margin-right: 16px; }
  .dwn-content__main {
    width: 100%;
    display: flex;
    justify-content: center; }
  .dwn-content__column {
    width: 50%; }
    .dwn-content__column--second {
      margin-left: 4px;
      height: 384px;
      border-left: 2px solid #7d7d7d; }
      .dwn-content__column--second .dwn-content__buttons {
        justify-content: space-between;
        width: 571px;
        padding-left: 7px;
        margin-bottom: 18px; }
        .dwn-content__column--second .dwn-content__buttons .button {
          width: 256px;
          margin-bottom: 0; }
    .dwn-content__column--first {
      padding-left: 149px; }
      .dwn-content__column--first .dwn-content__item {
        margin-bottom: 0; }
    .dwn-content__column--1 {
      padding-right: 34px;
      display: flex;
      justify-content: flex-end; }
    .dwn-content__column--2 {
      padding-left: 82px; }
      .dwn-content__column--2 .dwn-content__bold {
        font-weight: 500;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 0.05em;
        margin-bottom: 6px;
        color: #2B2B2B; }
      .dwn-content__column--2 .dwn-content__item {
        margin-bottom: 14px; }
  .dwn-content__bold {
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #2B2B2B; }
  .dwn-content__form-second {
    width: 364px; }
  .dwn-content__items {
    display: flex;
    flex-direction: column;
    padding-left: 8px; }
  .dwn-content__item {
    display: flex;
    font-size: 20px;
    color: #2B2B2B; }
    .dwn-content__item--margin {
      margin-bottom: 32px; }
    .dwn-content__item svg {
      width: 24px;
      margin-right: 22px; }
  .dwn-content__span {
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #2B2B2B; }
    .dwn-content__span .accent {
      font-size: 25px; }
  .dwn-content__number {
    display: inline-block;
    font-weight: bold;
    font-size: 64px;
    height: 64px;
    color: #2B2B2B;
    position: relative;
    z-index: 1;
    padding-left: 34px;
    width: 86px;
    margin-right: 12px;
    line-height: 1; }
    .dwn-content__number:before {
      content: '';
      display: block;
      position: absolute;
      width: 85px;
      left: 0;
      height: 40px;
      bottom: 10px;
      z-index: -1;
      background: #E2E2E2;
      border-radius: 0px 30px 30px 0px; }
  .dwn-content__bold {
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    margin-bottom: 12px;
    color: #2B2B2B;
    letter-spacing: 0.1px; }
  .dwn-content__sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 19px;
    margin-bottom: 15px; }
  .dwn-content__small {
    font-size: 12px;
    margin-bottom: 18px;
    color: #2B2B2B;
    margin-bottom: 16px;
    padding-left: 5px;
    color: #7D7D7D;
    text-decoration: none; }
    .dwn-content__small i {
      color: #7D7D7D; }
  .dwn-content__text {
    font-size: 20px;
    color: #000000;
    position: relative;
    top: -3px; }
  .dwn-content__buttons {
    display: flex;
    margin: 0 -8px; }
  .dwn-content__button {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    height: 40px;
    align-items: center;
    width: 136px;
    text-align: left;
    padding: 0;
    line-height: normal;
    justify-content: center;
    display: flex;
    font-size: 12px;
    color: #2B2B2B;
    margin: 0 8px; }
    .dwn-content__button svg {
      margin-right: 8px; }

@media (max-width: 1680px) {
  .dwn-content__column--first {
    padding-left: 0;
    margin-left: -25px;
    margin-right: 45px; }
  .dwn-content__column--second {
    margin-left: 4px;
    height: 384px;
    border-left: 2px solid #7d7d7d; }
    .dwn-content__column--second .dwn-content__buttons {
      justify-content: space-between;
      width: 441px;
      padding-left: 7px;
      margin-bottom: 10px; }
      .dwn-content__column--second .dwn-content__buttons .button {
        width: 204px;
        margin-bottom: 0; }
  .dwn-content__desc {
    margin-bottom: 21px; }
  .dwn-content__item--margin {
    margin-bottom: 16px; }
  .dwn-content__title--second {
    margin-bottom: 6px;
    margin-top: -29px;
    letter-spacing: -0.4px; }
  .dwn-content__form-second {
    width: 316px; }
  .dwn-content__column--1 {
    padding-right: 66px; }
  .dwn-content__column--2 .dwn-content__bold {
    font-size: 20px;
    margin-bottom: 14px; }
  .dwn-content__column--2 {
    padding-left: 62px;
    padding-top: 5px; }
  .dwn-content__column--2 .dwn-content__item {
    margin-bottom: 12px;
    font-size: 16px; }
  .dwn-content__items {
    padding-left: 10px;
    margin-bottom: 23px; }
  .dwn-content__span {
    font-size: 20px;
    letter-spacing: 0.7px; }
    .dwn-content__span .accent {
      font-size: 22px; } }

@media (max-width: 1259px) {
  .dwn-content__column.dwn-content__column--second {
    border-left: 0;
    margin-left: 0;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 2px solid #7d7d7d; }
  .dwn-content__title {
    font-size: 24px; }
  .dwn-content__bold {
    font-size: 16px; }
  .dwn-content__number {
    width: 66px;
    position: relative;
    left: -25px; }
  .dwn-content__column--first {
    padding-left: 0;
    margin-left: 0;
    margin-right: 045px; }
  .dwn-content__button {
    width: 106px;
    font-size: 9px; }
    .dwn-content__button svg {
      width: 12px;
      height: 12px; }
  .dwn-content__column--second {
    margin-left: 4px;
    height: 384px;
    border-left: 2px solid #7d7d7d; }
    .dwn-content__column--second .dwn-content__buttons {
      justify-content: space-between;
      width: 375px;
      padding-left: 7px;
      margin-bottom: 10px; }
      .dwn-content__column--second .dwn-content__buttons .button {
        width: 180px;
        margin-bottom: 0; } }

@media (max-width: 1023px) {
  .dwn-content__main {
    flex-direction: column; }
  .dwn-content__column {
    width: 100%; }
  .dwn-content__column--1 {
    padding-right: 0;
    display: flex;
    justify-content: center; } }

@media (max-width: 623px) {
  .tabs-dwn {
    background: #fff; }
  .dwn-content__column--second .dwn-content__buttons {
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 7px;
    margin-bottom: 10px; }
    .dwn-content__column--second .dwn-content__buttons .button {
      margin-bottom: 15px; }
  .dwn-content__column--1 {
    padding-right: 0; }
  .dwn-content__column--2 {
    padding-left: 0;
    border-top: 2px solid #7D7D7D;
    margin-top: 20px;
    padding-top: 20px; }
    .dwn-content__column--2 .dwn-content__bold {
      margin-left: 0;
      text-align: center; }
  .dwn-content__title {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2B2B2B;
    margin-bottom: 0px; }
  .dwn-content__bold {
    margin-top: 4px;
    margin-left: 76px;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    margin-bottom: 30px; }
  .dwn-content__number {
    position: absolute;
    left: 8px; }
  .dwn-content__buttons {
    flex-wrap: wrap; }
    .dwn-content__buttons .button {
      margin-bottom: 15px; }
  .dwn-content__text {
    margin-left: 76px; }
  .dwn-content__column--second {
    margin-top: 29px;
    padding-top: 29px;
    margin-left: 0;
    height: auto;
    border-left: none;
    border-top: 2px solid #7d7d7d; } }
